body, p, h1, h2, h3, h4.a {
    font-family: 'Open Sans', sans-serif !important;
    border-bottom: none !important;
}

.page-header{
    box-shadow: 0 1px 10px 0 rgba(50,50,50,.2) !important;
    background: #fff !important;
}

.titulo-login h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 300;
    height: 100px;
    left: 50%;
    line-height: 47px;
    margin-left: -250px;
    margin-top: -70px;
    position: absolute;
    top: 50%;
    width: 500px;
    border-bottom: none;
    padding-bottom: 62.5%;
    background-size: cover;
    overflow: hidden;
}

.bg-image-register {
    background: url('../../images/bg-casa-4.jpg') #333 !important;
    padding: 0 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bg-image-register h3 {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.bg-image-register img {
    display: block;
    margin: 20px auto 44px;
    text-align: center;
}

.bg-image-register p {
    margin-bottom: 20px;
}

.bg-image-register span {
    color: #fff;
    font-size: 16px;
    display: table-cell;
}

.bg-image-register i {
    vertical-align: top;
    font-size: 30px;
    padding-right: 10px;
    display: table-cell;
    line-height: 30px;
    color: #fff;
    opacity: 0.5;
}

/*******************PASSWORD RESET***********************/

.content-reset {
    border: 1px solid #652b2b;
    padding: 0px;
    margin-top: 80px;
    background: #ddd;
}

.panel-reset {
    padding: 30px;
    margin: 0;
    border-radius: 0;
    /*background-color: darkgrey;*/
}

#titulo-reset {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    /*border: 1px solid green;*/
    background: transparent;

}

.botonCreate {
    float: right;
    margin-right: 30px;
    margin-top: 3px
}

.btntablas {
    z-index: 5;
    margin-right: 10px !important;
}

.tabla_cabecera {
    background-color: #E5E5E5;
}

.printicon {
    vertical-align: top;
    color: white
}

.scroll-to-top > i {
    color: blue !important;
    font-size: 35px !important;
    font-weight: bold !important;
}

.show-volver {
    float: right;
    margin-right: 25px;
}

.control-label {
    color: #27a4b0
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.blocktitulo{
    width: 100%;
    font-size: 12px;
    margin: 5px;
    padding: 25px;
    overflow-x: hidden;
    background-color: #1abc9c;

}

.blocksubtitulo{
    width: 100%;
    font-size: 12px;
    margin: 5px;
    padding: 25px;
    overflow-x: hidden;
    background-color: red;

}

.block {
    display: block;
    width: 100%;
    font-size: 12px;
    border: none;
    background-color: #2174dd;
    color: white;
    margin: 5px;
    padding: 25px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    font-weight: bold;
    font-size: 14px;
    background-color: #2aa0dd;
    color: white;
}